@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2{
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.2em;
}

header, .normal {
    padding: 20px;

}

.flex-content{
    background-color: rgb(123, 121, 121);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}


.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.text{
    flex: 1 1 500px;
    
}

.media{
    flex: 1 0 400px;
    
}

.media img{
    display: block;
    margin: auto;
}

.media iframe{
    display: block;
    margin: auto;
    width: 90%;;
}
