@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: grey;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1{
    padding: 10px;
    flex: 0 0 200px;
}

header nav{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}

nav a{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

nav a:hover{
    background-color: white;
    color: black;
    transition: background-color 0.5s;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.5);
}

@media screen and (max-width: 570px) {
    nav a{
        flex: 1 0 100%;
    }
    header h1 {
        flex: 1 0 100%;
        text-align: center;
    }
}

@media screen and (min-width: 700px) {
    main {
        margin: auto;
        max-width: 700px;
        padding: 20px;
        margin-top: 10px;
    }
}