@charset "UTF-8";

@font-face {
    font-family: idrod;
    src: url(idroid.otf);
}

body {
    background-color: #8A89EC;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom,#4441E8, #3533B5, #2C2B6B);
    color: white;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -25px;
    padding: 40px 20px 0px 20px;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
    line-height: 2.0em;
}

main {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    width: min-content;
    height: fit-content;
    margin: auto;
    text-indent: 30px;
    padding: 1px 20px 20px 20px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.377);
}

.fonte{
    font-family: idrod, helvetica, sans-serif;
    background-image: linear-gradient(to right,  #8A89EC,  #8b89ec00);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.video {
    position: relative;
    background-color: #2C2B6B;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}
.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
#link{
    color: #2C2B6B;
}
#link:hover{
    color: black;
}
div{
    background-color: #acaaec;
    border-radius: 5px;
    padding: 0px 5px 5px 4px;
}
ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    margin-left: -40px;
 }
 footer{
    background-color: #2C2B6B;
    color: white;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -25px;
    padding: 0px 20px 0px 20px;
 }