@charset "UFT-8" ;

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
body{
    background-image: linear-gradient(to left
    , #DDFFF7, #93E1D8) ;
    }
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #93E1D8;
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1{
    color: #462255;
    text-align: center;
    text-shadow: 1px 1px 2px #FFA69E;
}

h2{
    color: #AA4465;
}
p{
    text-align: justify;
}